<!-- dashboard.html -->
{% extends 'layout.html' %}

{% block title %}
  Service Manager
{% endblock %}
<head>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalise.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}" />
</head>
{% block content %}

    
        <div class="d-flex justify-content-between mb-3 navbar">
            <h1>Service Manager</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tabProyectos" data-toggle="tab" href="#proyectos" role="tab" aria-controls="proyectos" aria-selected="true">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabSolicitudes" data-toggle="tab" href="#solicitudes" role="tab" aria-controls="solicitudes" aria-selected="false">Solicitudes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabEmpresas" data-toggle="tab" href="#empresas" role="tab" aria-controls="empresas" aria-selected="false">Empresas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabRegistrarDesarrollador" data-toggle="tab" href="#registrarDesarrollador" role="tab" aria-controls="registrarDesarrollador" aria-selected="false">Registrar Desarrollador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabSeguridad" data-toggle="tab" href="#seguridad" role="tab" aria-controls="#seguridad" aria-selected="false">#seguridad</a>
                </li>
            </ul>
    
            <div>
                <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
            </div>
        </div>
    
        <div class="tab-content" id="myTabContent">
            <!-- Contenido de Proyectos -->
            <div id="proyectos" class="tab-pane fade  show active"  role="tabpanel" aria-labelledby="proyectos-tab">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-4 m-0">
                            <div class="card card-body">
                                
                                <!-- Contenido específico del dashboard -->
                                <!-- Registrar nuevo proyecto -->
                                <h2>Registrar Nuevo Proyecto</h2>
                                <form method="POST" action="/registrar_proyecto">
                                    <!-- Contenido del formulario de registro -->
                                    <div class="form-group">
                                        <label for="nombre_proyecto">Nombre del Proyecto:</label>
                                        <input type="text" name="nombre_proyecto" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion">Descripción:</label>
                                        <input type="text" name="descripcion" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha_inicio">Fecha de Inicio:</label>
                                        <input type="date" name="fecha_inicio" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha_finalizacion">Fecha de Finalización:</label>
                                        <input type="date" name="fecha_finalizacion" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="estado">Estado:</label>
                                        <select name="estado" class="form-control" required>
                                            <option value="Pendiente">Pendiente</option>
                                            <option value="En Proceso">En Proceso</option>
                                            <option value="Completado">Completado</option>
                                        </select>
                                    </div>
                                    <br>
                                    <br>
                                    <input class="btn btn-primary btnRegistro" type="submit" value="Registrar Proyecto">
                                    <br>
                                    
                                </form>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-body">
                                <!-- Ver proyectos en curso -->
                                <h2>Proyectos en Curso</h2>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre del Proyecto</th>
                                            <th>Descripción</th>
                                            <th>Fecha de Inicio</th>
                                            <th>Fecha de Finalización</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for proyecto in proyectos %}
                                        <tr>
                                            <td>{{ proyecto.nombre }}</td>
                                            <td>{{ proyecto.descripcion }}</td>
                                            <td>{{ proyecto.fecha_inicio }}</td>
                                            <td>{{ proyecto.fecha_finalizacion }}</td>
                                            <td>{{ proyecto.estado }}</td>
                                            <td>
                                                <a href="{{ url_for('asignar_equipo', proyecto_id=proyecto._id) }}" class="btn btn-primary btn-sm">Asignar Equipo</a>
                                                <!-- <a href="{{ url_for('notificar_equipo', proyecto_id=proyecto._id) }}" class="btn btn-success btn-sm">Notificar Equipo</a> -->
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Contenido de Vista de Solicitudes -->
        <div id="solicitudes" class="tab-pane fade" role="tabpanel" aria-labelledby="tabSolicitudes">
            <div class="container pt-5">
                <div class="card card-body">
                    <h2>Solicitudes</h2>
                    <!-- Tabla para mostrar las solicitudes -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre de la Solicitud</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <!--<th>Porcentaje Completado</th>-->
                                <th>Empresa</th> <!-- Agregar columna para el nombre de la empresa -->
                                <td>Opciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if solicitudes %}
                                {% for solicitud in solicitudes %}
                                    <tr>
                                        <td>{{ solicitud['nombre_solicitud'] }}</td>
                                        <td>{{ solicitud['descripcion_solicitud'] }}</td>
                                        <td>{{ solicitud['fecha'] }}</td>
                                        <!--<td>{{ solicitud['porcentaje_solicitud'] }}%</td>-->
                                        <td>{{ solicitud['email'] }}</td> <!-- Mostrar el nombre de la empresa -->
                                        <td>Ver solicitud</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">No hay solicitudes disponibles.</td> <!-- Ajustar el colspan según el número de columnas -->
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
            <!-- Contenido de Empresas -->
            <div id="empresas" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container pt-5">
                    <div class="card card-body">
                        <h2>Información de las Empresas</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre de la Empresa</th>
                                    <th>NIT</th>
                                    <th>Administrador</th>
                                    <th>Email de la Empresa</th>
                                    <td>Opciones</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios_empresa %}
                                <tr>
                                    <td>{{ usuario.nombreEmpresa }}</td>
                                    <td>{{ usuario.nit }}</td>
                                    <td>{{ usuario.administrador }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>Eliminar</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        
            <!-- Contenido de Registrar Desarrollador -->
            <div id="registrarDesarrollador" class="tab-pane fade"  role="tabpanel" aria-labelledby="registrarDesarrollador-tab">
                <div class="container pt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-body">
                            <form class="form" method="POST" action="{{ url_for('registroEquipo') }}">
                            <p id="heading">Registro Desarrollador</p>
                            <div class="field">
                              <svg
                                viewBox="0 0 16 16"
                                fill="currentColor"
                                height="16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                                class="input-icon"
                              >
                              
                                <path
                                class="cls-2"
                                d="M125.92054,105.8632a5.80889,5.80889,0,0,0-3.12736-4.21271c-5.43886-2.71133-17.3754-6.718-17.3754-6.718H104.408l-3.26621,4.35761,3.06215,21.18619h22.81418A126.32884,126.32884,0,0,0,125.92054,105.8632Z"
                                ></path>
                              </svg>
                              <input
                                type="text"
                                class="input-field"
                                placeholder="Nombre"
                                autocomplete="off"
                                id="nombreDesarrollador"
                                name="nombreDesarrollador"
                                required
                              />
                            </div>                      
                            <div class="field">
                              <svg
                                viewBox="0 0 16 16"
                                fill="currentColor"
                                height="16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                                class="input-icon"
                              >
                                <path
                                  d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"
                                ></path>
                              </svg>
                              <input
                                type="text"
                                class="input-field"
                                placeholder="Email"
                                autocomplete="off"
                                id="email"
                                name="email"
                                required
                              />
                            </div>
                            <div class="field">
                                <label for="estado">Rol:</label>
                                <select id="rol" name="rol" class="input-field" required>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Desarrollador">Desarrollador</option>
                                    <!--<option value="completado">Lider de Equipo</option>-->
                                </select>
                            </div>
                            <div class="field">
                              <svg
                                viewBox="0 0 16 16"
                                fill="currentColor"
                                height="16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                                class="input-icon"
                              >
                                <path
                                  d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"
                                ></path>
                              </svg>
                              <input 
                              type="password"
                              id="password"
                              name="password" 
                              class="input-field" 
                              placeholder="Password"
                              required
                               />
                              
                            </div>
                            <div class="field">
                              <svg
                                viewBox="0 0 16 16"
                                fill="currentColor"
                                height="16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                                class="input-icon"
                              >
                                <path
                                  d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"
                                ></path>
                              </svg>
                              <input 
                              type="password"
                              id="confirmar_password"
                              name="confirmar_password" 
                              class="input-field" 
                              placeholder="Confirma tu Password"
                              required 
                              />
                            </div>
                            <div class="btn">
                              
                              <button class="button2" >Registrate </button>
                            </div>
                            
    
                          </form>
                        </div>
                    </div>
                        <div class="col-md-8">
                        <div class="card card-body">
                            <h2>Usuarios Registrados</h2>    
                      <select id="seleccionarInfo">
                        <option value="">Selecciona...</option>
                        <option value="infoDesarrolladores">Desarrolladores</option>
                        <option value="infoAdministradores">Administradores</option>
                    </select>
                    <div id="infoDesarrolladores" style="display: none;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre del Desarrollador</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in desarrolladores %}
                                    <tr>
                                        <td>{{ usuario.nombreDesarrollador }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.rol }}</td>
                                        <td>Eliminar</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="infoAdministradores" style="display: none;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre del Administrador</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios_admin %}
                                    <tr>
                                        <td>{{ usuario.nombreDesarrollador }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.rol }}</td>
                                        <td>Eliminar</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

            <div id="registrarDesarrollador" class="tab-pane fade"  role="tabpanel" aria-labelledby="registrarDesarrollador-tab">
                <div class="container pt-5">
                    <div class="row">
                        <h2>Centro de Seguridad</h2>
                            <p>Bienvenido al Centro de Seguridad del Centro Digital de Desarrollo Tecnológico (CDDT)!</p>
                            <p>En esta sección, encontrarás información importante sobre ciberseguridad y recomendaciones para garantizar una experiencia segura al utilizar nuestra plataforma.</p>
                            
                            <h3>Nuestro Compromiso con la Seguridad</h3>
                            <p>En el CDDT, la seguridad de nuestros usuarios es nuestra máxima prioridad. Nos esforzamos por implementar las mejores prácticas de seguridad y mantenernos actualizados sobre las últimas amenazas cibernéticas para proteger la información de nuestros usuarios.</p>
                            
                            <h3>Recomendaciones para Usuarios</h3>
                            <ol>
                                <li><strong>Contraseñas Seguras:</strong> Utiliza contraseñas fuertes y únicas para tu cuenta en el CDDT.</li>
                                <li><strong>Autenticación de Dos Factores (2FA):</strong> Considera habilitar la autenticación de dos factores para una capa adicional de seguridad.</li>
                                <li><strong>Actualizaciones de Software:</strong> Mantén actualizados tus dispositivos y aplicaciones.</li>
                                <li><strong>Concientización sobre Phishing:</strong> Mantente alerta ante correos electrónicos sospechosos.</li>
                            </ol>
                            
                            <h3>Recomendaciones para Administradores</h3>
                            <ol>
                                <li><strong>Gestión de Acceso:</strong> Implementa políticas de acceso sólidas y revisa regularmente los permisos de usuario.</li>
                                <li><strong>Monitoreo de Actividades:</strong> Establece sistemas de monitoreo para detectar actividades sospechosas.</li>
                                <li><strong>Respaldo de Datos:</strong> Realiza copias de seguridad regulares de los datos almacenados.</li>
                            </ol>
                            
                            <h3>Reporte de Problemas de Seguridad</h3>
                            <p>Si descubres alguna vulnerabilidad de seguridad o sospechas de actividades maliciosas en la plataforma, por favor reporta el problema de inmediato a nuestro equipo de seguridad.</p>
                            
                            <p>Gracias por tu compromiso con la seguridad en el Centro Digital de Desarrollo Tecnológico.</p>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            </div>
            </div>
            
        </div>
    

  <!-- Incluir Bootstrap y jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Inicializar las pestañas -->
  <script>
    $(document).ready(function () {
      $('#myTab a').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr('href')
        if (target === '#registrarDesarrollador') {
          // Código específico para la pestaña de Registrar Desarrollador
          console.log('Mostrando pestaña Registrar Desarrollador')
        }
        // Agregar lógica adicional si es necesario para otras pestañas
      })
    })
    
    document.getElementById('seleccionarInfo').addEventListener('change', function () {
      var seleccion = document.getElementById('seleccionarInfo').value
      if (seleccion === 'infoDesarrolladores') {
        document.getElementById('infoDesarrolladores').style.display = 'block'
        document.getElementById('infoAdministradores').style.display = 'none'
      } else if (seleccion === 'infoAdministradores') {
        document.getElementById('infoDesarrolladores').style.display = 'none'
        document.getElementById('infoAdministradores').style.display = 'block'
      }
    })
  </script>
{% endblock %}
